@import "./_variate";
.mint-header{
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid @borderColor;
}
.mint-tabbar{
  border-top: 1px solid @borderColor;
  background-color: #fff;
  color: @greyColor;
}
.mint-tabbar > .mint-tab-item.is-selected{
  color: @mainColor;
  background-color: transparent;
}
.mint-swipe-indicators{
  position: absolute;
  right: 60px;
  left: auto;
}
