@import "./_variate";
.mint-header{
  background-color: @mainColor;
  color: #ffffff;

  .mint-header-title{
    font-size: 28px;
  }
}
.mint-tabbar{
  border-top: 1px solid @borderColor;
  background-color: #fff;
  color: @greyColor;
}
.mint-tabbar > .mint-tab-item.is-selected{
    background-color: transparent;
}
.mint-tab-item > .mint-tab-item-label{
    font-size: 24px;
}
.mint-swipe-indicators{
  position: absolute;
  right: 60px;
  left: auto;
}

.mint-cell-text,.mint-field-core{
    font-size: 28px;
}
.mint-tab-item.is-selected {

}


// indexlist
.mint-indexlist > .mint-indexlist-content > .mint-indexsection >  {
    //font-size: 40px;
    //background: @grayBorderColor!important;
    //color: #999999;
}

.mint-navbar > .mint-tab-item.is-selected{
    color: @mainColor;
    border-bottom: 7px solid @mainColor;
}

.mint-cell-title {
    margin-right: 20px;
    white-space: nowrap!important;
}
