.m-sidebar {
    &.el-menu {
        //background-color: @mainColor;
    }
    .el-menu-item, .el-submenu__title {
        height: .8rem;
        line-height: .8rem;
        font-size: 0.24rem;
        //.fj();
        display: flex;
        align-items: center;

        .el-icon-menu{
            margin-right: .3rem;
            //width: .30rem;
            //height: .30rem;
        }
    }
}

//.el-table th {
//    color: #555555;
//}
//.el-table tbody {
//    color: #777777;
//}
